---
apiVersion: skupper.io/v2alpha1
kind: Site
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.app.namespace }}
spec:
  #enable: true
  linkAccess: default
...

---
apiVersion: skupper.io/v2alpha1
kind: Connector
metadata:
  generation: 1
  name: {{ .Values.app.name }}
  namespace: {{ .Values.app.name }}
spec:
  port: 8080
  routingKey: {{ .Values.app.name }}
  selector: deployment={{ .Values.app.name }}
  type: tcp
...

