apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: openshift-gitops
spec:
  project: default
  destination:
    name: in-cluster
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - managedNamespaceMetadata=true
      - Replace=true
      - PruneLast=true
    automated:
      prune: true
      selfHeal: true
  source:
    repoURL: "{{ git_repo_url }}"
    targetRevision: "{{ git_repo_revision }}"
    path: "hunt/charts/metallb"
    helm:
      valuesObject:
        metallb:
          ipaddresspool:
            name: "anycast-address-pool"
            addresses:
              - "{{ supernet_anycast }}"
          bgppeers:
            - name: "alpha-us-east-2a"
              myASN: 65100
              peerASN: 65000
              peerAddress: 10.1.0.96
